<a href="https://colab.research.google.com/github/shanaka-desoysa/notes/blob/master/content/python/basics/Python_Hello.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

---
title: "Give Table An Alias"
author: "Chris Albon"
date: 2020-05-10T00:00:00-07:00
description: "Give a table an alias in Snowflake using SQL."
type: technical_note
draft: false
---

# Hello World

In [0]:
print('Hello World')

Hello World

In [0]:
1==1

True